version: "3"

services:
  es01:
    build: ./elastic
    ports:
      - "9200:9200"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]
      interval: 5s
      timeout: 5s
      retries: 20
    networks:
      - netproxy

  kib01:
    build: ./kibana  
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://es01:9200
    networks:
      - netproxy
    depends_on:
      es01:
        condition: service_healthy

  load:
    build: ./load_address
    env_file:
      - ./load_address/variables.env
    volumes:
      - ./load_address:/load
    networks:
      - netproxy
    depends_on:
      es01:
        condition: service_healthy

  api:
    build: ./api
    env_file:
      - ./api/variables.env
    volumes:
      - ./api:/app
    ports:
      - "8080:8080"
    networks:
      - netproxy
    depends_on:
      es01:
        condition: service_healthy

networks:
  netproxy:
    driver: bridge