version: "3"

services:
  api:
    image: python:3.11
    working_dir: /app
    command: |
      pip install -r requirements.txt
      python run.py 
    volumes:
      - ./api:/app
    ports:
      - "8080:8080"
    networks:
      - netproxy
  
  load:
    image: python:3.11-slim-buster
    working_dir: /load
    command: |
      pip install -r requirements.txt
      python address.py
      python verify.py
    volumes:
      - ./load_address:/load
    networks:
      - netproxy
  
  es01:
    image: docker.elastic.co/elasticsearch/elasticsearch-wolfi:9.2.1
    ports:
      - "9200:9200"
    networks:
      - netproxy

  kib01:
    image: docker.elastic.co/kibana/kibana:8.5.2
    ports:
      - "5601:5601"
    networks:
      - netproxy

networks:
  netproxy:
    driver: bridge

    
    